[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
abot = "==0.0.1a1.post0.dev29"
aiopg = "*"
alembic = "*"
asyncio-extras = "*"
click = "*"
sqlalchemy = "*"

[dev-packages]
# Testing
asynctest = "*"
coveralls = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
tox = "*"
# Linting
"autopep8" = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
"flake8-per-file-ignores" = "*"
pylint = "*"
restructuredtext-lint = "*"
rope = "*"
# Debugging
ipdb = "*"
logging-tree = "*"
pytest-pycharm = "*"

[requires]
python_version = "3.7"
