[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
aiopg = "*"
alembic = "*"
asyncio-extras = "*"
abot = "==0.0.1a1.post0.dev29"

[dev-packages]
pylint = "*"
rope = "*"
"autopep8" = "*"
restructuredtext-lint = "*"
logging-tree = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-asyncio = "*"
"flake8" = "*"
asynctest = "*"
ipdb = "*"
pytest-pycharm = "*"
pytest-xdist = "*"
tox = "*"
coveralls = "*"

[requires]
python_version = "3.7"
