version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-venv-{{ checksum "Pipfile.lock" }}
          - v1-venv-

      - restore_cache:
          keys:
          - v1-tox-{{ checksum "Pipfile.lock" }}
          - v1-tox-

      - run:
          name: install dependencies
          command: |
            sudo pip install pipenv tox
            pipenv sync -d

      - save_cache:
          paths:
            - /home/circleci/.local/share/virtualenvs
          key: v1-venv-{{ checksum "Pipfile.lock" }}

      - run:
          name: run tests
          command: |
            pipenv run tox

      # Save tox and venv cache
      - save_cache:
          paths:
            - ./.tox
          key: v1-tox-{{ checksum "Pipfile.lock" }}

      - run:
          name: submit coverage
          command: pipenv run coveralls

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports

workflows:
  version: 2
  build-distribute:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/ # This is needed so that tags are also built when pushed
